@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    background-color: black;
}

@font-face {
    font-family: "myFirstFont";
    src: url("../public/StayPixelRegular-EaOxl.ttf");
}

h1{
    color: white;
    font-family: "myFirstFont";
}