
.inputField{
    border:0;
    background-color: transparent;
    color: white;
    caret-color: transparent;
    font-size: 4vmin;
    border: 5px solid transparent;
    border-bottom-color: white;
    border-style: dashed;
    margin:1%;
}

.inputField:focus{
    outline: none;
    animation: blink 1s step-start infinite;

}

@keyframes blink{
    50%{
        border-bottom-color: transparent;
    }
}

.login-input {
    display: flex;
    justify-content: center;
    /* padding: 1rem; */
}

.login-input input {
    margin-left: 1rem;
}