.screen {
    z-index: 1;
    margin: 5%;
    height: 100vh;
    text-align: center;
}

.teacher-options {
    display: flex;
    justify-content: space-around;
}

.select-buttons {
    display: flex;
    justify-content: center;
}

.select-package {
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
}

.student-leaderboard {
    text-align: center;
    margin-top: 1.5rem; /* Add margin for separation */
}

.table-container {
    width: 80%;
    margin: 0 auto;
    overflow-x: auto;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
}

.student-table th,
.student-table td {
    padding: 8px;
    text-align: center;
}

.student-table th {
    background-color: #535353;
}

.student-table tr:hover {
    background-color: #535353;
}
