
.inputField{
    border:0;
    background-color: transparent;
    color: white;
    caret-color: transparent;
    font-size: 4vmin;

    margin:2%;
}

.inputField:focus{
    outline: none;
    border: 5px solid transparent;
    border-bottom-color: white;
    border-style: dashed;
    animation: blink 1s step-start infinite;
}

@keyframes blink{
    50%{
        border-bottom-color: transparent;
    }
}