.screen {
    z-index: 1;
    margin: 5%;
    height: 100vh;
    text-align: center;
}

.teacher-options {
    marigin-top:10%;
    display: flex;
    justify-content: space-around;
}

.select-buttons {
    display: flex;
    justify-content: center;
}

.select-package {
    margin: 1.25rem;
    display: flex;
    flex-direction: column;
}

.student-leaderboard {
    text-align: center;
    margin-top: 1.5rem; /* Add margin for separation */
}

.table-container {
    width: 80%;
    margin: 0 auto;
    overflow-x: auto;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
}

.student-table th,
.student-table td {
    padding: 8px;
    text-align: center;
}

.student-table th {
    background-color: #535353;
}

.student-table tr:hover {
    background-color: #535353;
}

.select-package select {
    margin-top: 0.5rem;
    padding: 8px 12px; 
    font-size: 16px; 
    border: 2px solid #fff; /* White border */
    border-radius: 6px; /* Rounded corners */
    background-color: #2b2b2b; 
    color: #fff; 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

.teacher-select:hover,
.teacher-select:focus {
    background-color: #fff; /* Change background color on hover/focus */
    color: #2b2b2b; /* Change text color on hover/focus */
    border-color: #2b2b2b; /* Change border color on hover/focus */
    outline: none; /* Remove outline */
}

/* Optional: Add box-shadow for depth effect */
.teacher-select {
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjust shadow as needed */
}

.teacher-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.25rem;
}

.teacher-inputs label{
    margin-right: 1rem;
}

.teacher-inputs input select{
    margin-top: 1rem;
}

.clickable:hover{
    cursor:pointer;
}